<div fxLayoutAlign="center" fxLayout="row" class="workers-table-block">
    <mat-card fxFlex.gt-sm="60%" fxFlex.sm="90%">

      <mat-card-header>
        <mat-card-title>Vacations</mat-card-title>
      </mat-card-header>

      <table mat-table [dataSource]="items$ | async">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef fxFlex="45%"> Name </mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="45%"> {{ (item.name$ | async)?.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef fxFlex="45%"> Date </mat-header-cell>
          <mat-cell *matCellDef="let item" fxFlex="45%"> 
            {{ item.start | date:'shortDate'}} -  {{ item.end | date:'shortDate'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="linkColumn">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"></mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%">
            <a href="javascript:;" class="worker-out-office-link">
              <mat-icon>add</mat-icon>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="onRowClicked(row)">
      </mat-row>
      </table>
      
    </mat-card>
  </div>
  
  <div fxLayoutAlign="center" class="add-button-div">
    <button mat-raised-button color="primary" fxFlex.gt-sm="20%" fxFlex.sm="90%" (click)="openAddForm()" >
      Add
    </button>
  </div>
